---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import { ClientRouter } from "astro:transitions";
import Origami from "../components/Origami.astro";
---

<Layout title="Bruno boda.">
  <ClientRouter />
  <main class="main gradient">
    <Origami />
    <section>
      <a href="/labodadebrunoysusana/cross-words">Siguiente</a>
    </section>
  </main>
</Layout>
