---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Tinder from "../components/Tinder.astro";
import { ClientRouter } from "astro:transitions";
import Crosswords from "../components/Crosswords.astro";
---

<Layout title="Bruno boda.">
  <ClientRouter />
  <main class="main gradient">
    <Crosswords />
    <section>
      <a href="/labodadebrunoysusana/unlock">Siguiente</a>
    </section>
  </main>
</Layout>
