---
import Layout from "../layouts/Layout.astro";
import Tinder from "../components/Tinder.tsx";
import { ClientRouter } from "astro:transitions";
---

<Layout title="Amor a primer match | La boda de Bruno y Susana">
  <ClientRouter />
  <main>
    <Tinder transition:animate="fade" client:load />
  </main>
</Layout>
