---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Tinder from "../components/Tinder.astro";
import { ClientRouter } from "astro:transitions";
---

<Layout title="Amor a primer match | La boda de Bruno y Susana">
  <ClientRouter />
  <main class="main bg-yellow-400">
    <Tinder transition:animate="fade" client:load />

    <section>
      <a href="/labodadebrunoysusana/love-and-other-drugs">Siguiente</a>
    </section>
  </main>
</Layout>

<style></style>
