---
import "../styles/global.css";

import Graphs from "../components/Graphs.tsx";
import Layout from "../layouts/Layout.astro";
import ClientRouter from "astro/components/ClientRouter.astro";
---

<Layout title="La ecuación del amor | La boda de Bruno y Susana">
  <ClientRouter />
  <section class="bg-indigo-200">
    <Graphs client:load transition:animate="fade" />
  </section>
</Layout>
