---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import { ClientRouter } from "astro:transitions";
import Photos from "../components/Photos.astro";
---

<Layout title="Las 7 diferencias | La boda de Bruno y Susana">
  <ClientRouter />
  <main class="main gradient">
    <Photos transition:animate="fade" client:load />

    <section>
      <a href="/labodadebrunoysusana/butterflies">Siguiente</a>
    </section>
  </main>
</Layout>

<style>
  .main {
    background-color: #202639;
  }
</style>
