---
import { Image } from "astro:assets";
import logoFarmacia from "../images/drugs/logo-farmacia.png";
import barcode from "../images/drugs/barcode.png";
import medicamento4 from "../images/drugs/medicamento4.jpg";
import finger from "../images/finger.png";
---

<section
  class="fluid-column relative bg-gradient-to-br from-teal-200 to-teal-500"
>
  <div class="bg-white border rounded-2xl w-[64px] absolute right-5 top-5">
    <img src={finger.src} alt="Preguntar al hilo rojo" width={64} />
  </div>
  <header class="flex justify-center items-center">
    <h1 class="title urbanist-900">Amor y otra drogas</h1>
  </header>

  <section class="p-4">
    <p class="py-2">
      Como hab茅is visto el amor nos puede sorprender con cualquier persona con
      un simple match (o lo que nuestros padres llamar铆an flechazo). El problema
      de los flechazos es que a veces no nos dejan ver la realidad y podemos
      idealizar a las personas perdi茅ndonos nosotros mismos por el camino al
      seguir el hilo rojo.
    </p>
    <p class="py-2">
      Por eso mismo, nuestros expertos farmac茅uticos han desarrollado un
      medicamento con m茅todos experimentales con resultados prometedores para
      solucionar este problema.
    </p>
    <p class="py-2">
      Aunque en esta ocasi贸n, el problema ha sido el tremendo 茅xito que ha
      tenido dicho medicamento, lo que ha provocado la falta de stock. Ante tal
      situaci贸n, y como sois muy majos (y para que os vamos a enga帽ar, es un
      placebo de manual  ), os vamos a pasar la receta para que vosotros
      mismos pod谩is fabricar el medicamento y as铆 continuar vuestro camino hacia
      la persona a la que el destino os ha atado.
    </p>
    <p class="py-2">
      Tan s贸lo ten茅is que seguir las instrucciones de nuestro farmaceutico de
      guardia que amablemente ha apuntado en la siguiente receta, aunque os
      advertimos de que viendo como funcionamos en HotRiXX<span>&#8482;</span> es
      casi seguro que se ha estado fumando algo y tengais que poner algo de empe帽o
      por vuestra parte para entenderla.
    </p>
  </section>

  <div class="prescription_form bg-blue-50 border-2 border-gray-500">
    <div class="flex flex-col justify-start items-stretch p-4 gap-[1px]">
      <div class="header border">
        <div class="w-full flex justify-start items-stretch">
          <img
            src={logoFarmacia.src}
            width="64"
            height="64"
            alt="Logo hospital"
          />
          <div class="w-full flex justify-center items-center">
            <p>
              <span class="font-semibold"
                >RECTA MDICA PARA ASISTENCIA SANITARIA</span
              >
            </p>
          </div>
        </div>
      </div>
      <div class="main grid-cols-[50px_1fr]">
        <div class="grid grid-cols-6 grid-rows-4 gap-[1px] border-gray-900">
          <div class="col-span-2 row-span-4 border-1 p-2">
            <p>
              <span class="font-semibold">PRESCRIPCIN:</span> Lorem, ipsum dolor
              sit amet consectetur adipisicing elit. Vero voluptates recusandae laboriosam
              tenetur distinctio, temporibus voluptatem placeat quo eius quam vel
              fuga explicabo ipsam, veritatis natus, incidunt inventore aut quos?
            </p>
            <p>
              V铆a de administraci贸n: _______<span class="underline">Oral</span
              >_______
            </p>
          </div>
          <div class="col-span-2 col-start-3 row-start-4 border-1 p-2">
            <div class="flex justify-between items-stretch">
              <p class="w-full flex justify-between items-center">
                <span> N潞 de orden dispensaci贸n: </span>
                <span class="font-bold">#9625</span>
              </p>
            </div>
            <div class="w-full flex justify-between items-center">
              <span>Fecha prevista: </span>
              <span class="underline">20/07/2023</span>
            </div>
          </div>
          <div class="col-span-2 col-start-3 row-span-3 border-1">
            <div class="grid grid-rows-3">
              <div class="flex flex-col items-stretch p-2">
                <p>Duraci贸n del tratamiento:</p>
                <p class="flex justify-end items-center">
                  - Hasta finalizar los sintomas -
                </p>
              </div>
              <div class="grid grid-rows-1 p-2">Posolog铆a</div>
              <div class="grid grid-cols-2 grid-rows-1 p-2">
                <div class="grid grid-cols-2 grid-rows-2">
                  <div class="border-1 p-2">Unidades</div>
                  <div class="border-1 p-2">1</div>
                  <div class="border-1 p-2">Pauta</div>
                  <div class="border-1 p-2">0</div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-span-2 row-span-2 col-start-5 row-start-1 border-1 p-2"
          >
            <p>
              <span class="font-semibold">PACIENTE</span> (Nombre y apellidos):
            </p>
            <p>Bruno Flores</p>
          </div>
          <div
            class="col-span-6 row-span-1 col-start-1 row-start-5 border-1 p-2"
          >
            <p>
              <span class="font-semibold">DIAGNSTICO</span> (si procede): Sudoraci贸n
              de las manos, fiebre, alteraci贸n del ciclo del sue帽o, sensaci贸n de
              "mariposas en el est贸mago".
            </p>
          </div>
          <div
            class="col-span-6 row-span-2 col-start-1 row-start-6 border-1 p-2"
          >
            <span class="font-semibold">INSTRUCCIONES AL PACIENTE</span> (si procede):
            Tomar tres dosis diarias de los medicamentos indicados acompa帽ados de
            comida. Si los sintomas empeoran, a帽adir una dosis de "chuches" durante
            la cena.
          </div>
          <div
            class="col-span-2 row-span-2 col-start-5 row-start-3 border-1 p-2"
          >
            <div>
              <p>
                <span class="font-semibold">PRESCRIPTOR </span>(Nombre del
                m茅dico):
              </p>
              <p class="italic w-full flex justify-end items-center">
                Dr. Emilio Salgado
              </p>
              <p class="flex justify-between items-center">
                <span>Fecha de la prescripci贸n:</span>
                <span class="underline">20/07/2023</span>
              </p>
              <div class="flex flex-col items-stretch">
                <p>Firma*</p>

                <Image
                  src={medicamento4}
                  class="w-64"
                  title="medicamento"
                  alt="Medicamento 4"
                />
              </div>
            </div>
          </div>

          <div
            class="col-span-6 row-span-2 grid grid-cols-3 grid-rows-1 border-1 p-2"
          >
            <div class="p-4">
              <p>
                La validez de esta receta expira a los 10 d铆as naturales de la
                fecha prevista para la dispensaci贸n, o en su defecto de la fecha
                de prescripci贸n. La medicaci贸n prescrita no superar谩 los 6 meses
                de tratamiento. La receta es v谩lida para una 煤nica dispensaci贸n
                en la farmacia. Esta receta podr谩 ser dispensada en cualquier
                ofician de farmacia del territorio nacional.
              </p>
            </div>
            <div
              class="barcode border-l border-r flex flex-col justify-center items-center"
            >
              <Image
                src={barcode}
                class=""
                title="barcode"
                alt="C贸digo de barras"
              />
              <p>3N4M0R4M13NT0</p>
            </div>
            <div class="p-4">
              <p class="pb-2">
                El paciente puede comprobar la prescripci贸n del medicamento o
                medicamentos indicados por el prescriptor en la siguiente p谩gina
                web en caso de p茅rdida del documento prescriptivo que acompa帽a a
                cada medicamento.
              </p>
              <p>
                <a
                  class="text-teal-700"
                  href="https://cima.aemps.es/cima/publico/home.html"
                  >https://cima.aemps.es/cima/publico/home.html</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="flex items-center justify-center">
    <a href="/labodadebrunoysusana/memories"
      ><span class="border-2 p-4 rounded-4xl hover:text-white">Siguiente</span
      ></a
    >
  </section>
</section>
