---
import { Image } from "astro:assets";
import mechoImage from "../images/origami/mecho.webp";
import ochoImage from "../images/origami/ocho.webp";
---

<!-- ORIGAMI -->
<section class="flex justify-between items-center gap-8">
  <div class="mecho">
    <Image src={mechoImage} class="w-64" title="Mecho" alt="Mecho Butterfly" />
  </div>
  <div class="ocho">
    <Image src={ochoImage} class="w-64" title="Ocho" alt="Ocho Butterfly" />
  </div>
</section>

<script></script>

<style></style>
