---

---

<!-- PHOTOS -->
<section class="fluid-column">
  <div>
    <div class="title urbanist-900">Empareja-dos!</div>
    <p>En ocasiones no importa el momento, sino el lugar...</p>
  </div>

  <!-- METER AQUÍ FOTOS DE PAREJAS EN FOTOS SEPARADAS Y JUNTARLOS -->
  <!-- EN EL CASO DE SOLTEROS, PONER A ALLONA Y VICTOR JUNTOS COMO COLEGAS -->

  <div class="app">
    <div class="photos__grid">
      <div class="photo__card">
        <div class="photo__picture">
          <img
            src="https://gitlab.com/anusanbsk/shooshoot/raw/master/img/gallery/une-vie-remplie.jpg"
            alt="Une vie remplie"
            title="Une vie remplie"
          />
        </div>
        <p class="photo__caption">A fulfilled life</p>
      </div>
      <div class="photo__card">
        <div class="photo__picture">
          <img
            src="https://gitlab.com/anusanbsk/shooshoot/raw/master/img/gallery/je-peux-le-faire.jpg"
            alt="Je peux le faire"
            title="Je peux le faire"
          />
        </div>
        <p class="photo__caption">I can do it</p>
      </div>
      <div class="photo__card">
        <div class="photo__picture">
          <img
            src="https://gitlab.com/anusanbsk/shooshoot/raw/master/img/gallery/une-folie.jpg"
            alt="Une folie"
            title="Une folie"
          />
        </div>
        <p class="photo__caption">What a madness</p>
      </div>
      <div class="photo__card">
        <div class="photo__picture">
          <img
            src="https://gitlab.com/anusanbsk/shooshoot/raw/master/img/gallery/paris.jpg"
            alt="Paris"
            title="Paris"
          />
        </div>
        <p class="photo__caption">Paris</p>
      </div>
      <div class="photo__card">
        <div class="photo__picture">
          <img
            src="https://gitlab.com/anusanbsk/shooshoot/raw/master/img/gallery/surprise.jpg"
            alt="Surprise"
            title="Surprise"
          />
        </div>
        <p class="photo__caption">Surprise</p>
      </div>
      <div class="photo__card">
        <div class="photo__picture">
          <img
            src="https://gitlab.com/anusanbsk/shooshoot/raw/master/img/gallery/du-pur-vegan.jpg"
            alt="Du pur vegan"
            title="Du pur vegan"
          />
        </div>
        <p class="photo__caption">Pure vegan</p>
      </div>
      <div class="photo__card">
        <div class="photo__picture">
          <img
            src="https://gitlab.com/anusanbsk/shooshoot/raw/master/img/gallery/fashionista.jpg"
            alt="Fashionista"
            title="Fashionista"
          />
        </div>
        <p class="photo__caption">Fashionista</p>
      </div>
      <div class="photo__card">
        <div class="photo__picture">
          <img
            src="https://gitlab.com/anusanbsk/shooshoot/raw/master/img/gallery/best-friend-forever.jpg"
            alt="Best friend forever"
            title="Best friend forever"
          />
        </div>
        <p class="photo__caption">Best friend forever</p>
      </div>
      <div class="photo__card">
        <div class="photo__picture">
          <img
            src="https://gitlab.com/anusanbsk/shooshoot/raw/master/img/gallery/mannequin-pour-dog.jpg"
            alt="Mannequin pour dog"
            title="Mannequin pour dog"
          />
        </div>
        <p class="photo__caption">Dog model</p>
      </div>
      <div class="photo__card">
        <div class="photo__picture">
          <img
            src="https://gitlab.com/anusanbsk/shooshoot/raw/master/img/gallery/ma-chérie.jpg"
            alt="Ma chérie"
            title="Ma chérie"
          />
        </div>
        <p class="photo__caption">My sweetheart</p>
      </div>
      <div class="photo__card">
        <div class="photo__picture">
          <img
            src="https://gitlab.com/anusanbsk/shooshoot/raw/master/img/gallery/3-ans-déjà.jpg"
            alt="3 ans déjà"
            title="3 ans déjà"
          />
        </div>
        <p class="photo__caption">3 years of happiness</p>
      </div>
      <div class="photo__card">
        <div class="photo__picture">
          <img
            src="https://gitlab.com/anusanbsk/shooshoot/raw/master/img/gallery/bientôt-maman.jpg"
            alt="Bientôt maman"
            title="Bientôt maman"
          />
        </div>
        <p class="photo__caption">Baby soon</p>
      </div>
      <div class="photo__card">
        <div class="photo__picture">
          <img
            src="https://gitlab.com/anusanbsk/shooshoot/raw/master/img/gallery/9-mois.jpg"
            alt="9 mois"
            title="9 mois"
          />
        </div>
        <p class="photo__caption">9 months</p>
      </div>
      <div class="photo__card">
        <div class="photo__picture">
          <img
            src="https://gitlab.com/anusanbsk/shooshoot/raw/master/img/gallery/sista.jpg"
            alt="Sista"
            title="Sista"
          />
        </div>
        <p class="photo__caption">Sister</p>
      </div>
      <div class="photo__card">
        <div class="photo__picture">
          <img
            src="https://gitlab.com/anusanbsk/shooshoot/raw/master/img/gallery/girly.jpg"
            alt="Girly"
            title="Girly"
          />
        </div>
        <p class="photo__caption">Girly</p>
      </div>
      <div class="photo__card">
        <div class="photo__picture">
          <img
            src="https://gitlab.com/anusanbsk/shooshoot/raw/master/img/gallery/sortie-entre-copines.jpg"
            alt="Sortie entre copines"
            title="Sortie entre copines"
          />
        </div>
        <p class="photo__caption">Girls trip</p>
      </div>
      <div class="photo__card">
        <div class="photo__picture">
          <img
            src="https://gitlab.com/anusanbsk/shooshoot/raw/master/img/gallery/détente-au-calme.jpg"
            alt="Détente au calme"
            title="Détente au calme"
          />
        </div>
        <p class="photo__caption">Relaxation</p>
      </div>
      <div class="photo__card">
        <div class="photo__picture">
          <img
            src="https://gitlab.com/anusanbsk/shooshoot/raw/master/img/gallery/my-pigfriend.jpg"
            alt="My pigfriend"
            title="My pigfriend"
          />
        </div>
        <p class="photo__caption">My pigfriend</p>
      </div>
    </div>
  </div>
</section>

<style>
  /* PHOTOS STYLES */

  /* ANIMATIONS */
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* SCROLLBAR */
  ::-webkit-scrollbar {
    width: 14px;
  }
  ::-webkit-scrollbar {
    width: 14px;
  }
  ::-webkit-scrollbar-thumb {
    border: 4px solid #f4f4f4;
    background-clip: padding-box;
    border-radius: 14px;
    background-color: #c1c1c1;
  }
  ::-webkit-scrollbar-track {
    background-color: #f4f4f4;
  }

  /* APP */
  .photos__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px 8px;
    margin: 20px 10px;
  }

  .photo__card {
    outline: 1px solid black;
    background-color: #ffffff;
    padding: 10px 10px 20px;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    animation: fadeIn 1s;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
  }

  .photo__picture {
    overflow: hidden;
    object-fit: cover;
    aspect-ratio: 1;
    width: 250px;
    height: 250px;
  }

  .photo__picture img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
  }

  .photo__picture img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .photo__caption {
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
    font-size: 1.3rem;
    letter-spacing: -1px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #000000;
  }

  /* CUSTOM */
  @media screen and (max-width: 1200px) {
    .app__list {
      grid-template-columns: repeat(5, 20%);
    }
  }
  @media screen and (max-width: 1024px) {
    .app__list {
      grid-template-columns: repeat(4, 25%);
    }
  }
  @media screen and (max-width: 860px) {
    .app__list {
      grid-template-columns: repeat(3, 33.33%);
    }
  }
  @media screen and (max-width: 800px) {
    .app__list {
      grid-template-columns: repeat(2, 50%);
    }
  }

  /* MOBILE */
  @media screen and (max-width: 750px) {
    .app__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>
