.emoji {
  font-size: xxx-large
}

.puzzle{
  margin-bottom: 2rem
}

.respuesta,
.input,
h3,
h1,
h2,
a{
  font-size: xx-large;
}

.emoji
.respuesta,
.input{
  margin: 0 1rem;
}

.input {
  border: 2px solid black;
  border-radius: 4px;
}

a{
  color: black;
  margin-bottom: 2rem;
}
