---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/labodadebrunoysusana/favicon.svg"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  html,
  body {
    /* height: 100%; */
    width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
  }

  .urbanist-900 {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }

  .gradient {
    background: #ff0844;
    background: linear-gradient(
        to top,
        #202639,
        #ff0844,
        #ffb199,
        #ffffff,
        #202639
      )
      no-repeat;
  }

  .title {
    text-align: center;
    font-size: 3.75rem;
    color: #ffffff;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .footer {
    margin-top: auto;
    height: 100px;
    background: linear-gradient(
        to top,
        rgb(63, 76, 119, 70.2%),
        rgb(32, 38, 57, 11.4%)
      )
      no-repeat;
  }

  .centered-column {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .fluid-column {
    padding: 3rem;
    width: 100%;
    height: 100%;
    min-height: 100dvh;
  }
</style>
